div {
    background-color: rgb(80, 90, 37);
    height: 20px;
    width: 30px;
}

.container {
    justify-content: center;  /* Centra orizzontalmente */
    align-items: center;  /* Centra verticalmente */

}

